/* MAIN */

.main__image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 400px;

    color: #fff;

    font: bold 64px 'Anton', sans-serif;
    letter-spacing: 4px;
    text-shadow: black 0 0 4px;

    background-image: url(../img/mainmenu__intro.jpg);
    background-size: cover;


}

.main__block {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 800px;
}

.main__heading {
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    animation: linear 20s bounce infinite;
}

.main__article {
    text-indent: 5px;
    text-align: left;
}

/* MEDIA */

@media (max-width: 425px) {
    .main__image {
        display: none !important;
    }

    .main {
        padding-top: 50px;
    }

    .main__heading {
        animation: none;
    }
}
